<div>
  <button [routerLink]="['/home']"><-- Back To Home</button>
</div>
<ng-container [ngSwitch]="showAddressList">
  <button *ngSwitchCase="false" (click)="getAllAddresses()">Pobierz wszystkie adresy</button>
  <button *ngSwitchCase="true" (click)="clearAllAddresses()">Ukryj adresy</button>
</ng-container>
<ng-template [ngIf]="allAddresses.length>0">
  <ul>
    <li *ngFor="let addressFromList of allAddresses">
      {{addressFromList.idAddress}}
      {{addressFromList.country}}
      {{addressFromList.region}}
      {{addressFromList.city}}
      {{addressFromList.street}}
      {{addressFromList.localNumber}}
      {{addressFromList.zipCode}}
      <button (click)="deleteAddressById(addressFromList.idAddress)">Usuń</button>
      <app-address-update [addressToEdit]="addressFromList" (refreshList)="refreshList()"></app-address-update>
    </li>
  </ul>
</ng-template>
<br>
<app-address-update (refreshList)="refreshList()"></app-address-update>
