<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <a class="navbar-brand" href="#">Magazyn IT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/address">Adresy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/distributor">Dostawcy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/company">Firmy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/employee">Pracownicy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product">Produkty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/handover">Przekazania</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/transaction">Transakcje</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [matBadge]="notDoneDemands" [matBadgeHidden]="notDoneDemands===0" href="/demand">Zapotrzebowania</a>
      </li>
    </ul>
  </div>
</nav>

