<div>
  <button [routerLink]="['/home']"><-- Back To Home</button>
</div>

<ng-container [ngSwitch]="showEmployeeList">
  <button *ngSwitchCase="false" (click)="getAllEmployees()">Pobierz wszystkich pracowników</button>
  <button *ngSwitchCase="true" (click)="clearAllEmployees()">Ukryj pracowników</button>
</ng-container>

<ng-template [ngIf]="allEmployees.length>0">
  <ul>
    <li *ngFor="let employeeFromList of allEmployees">
      {{employeeFromList.idEmployee}}
      {{employeeFromList.name}}
      {{employeeFromList.lastName}}
      <!--      {{employeeFromList.department}}-->
      {{employeeFromList.position }}
      <!--      {{employeeFromList.phoneNumber}}-->
      <!--      {{employeeFromList.email}}-->
      {{employeeFromList.company.name}}
      <button (click)="deleteEmployeeById(employeeFromList.idEmployee)">Usuń</button>
      <button (click)="openEditEmployee(employeeFromList)">Edytuj</button>
    </li>
  </ul>
</ng-template>
<button (click)="openAddEmployee()">Dodaj pracownika</button>
