<app-navbar></app-navbar>

<ng-template [ngIf]="showDemandsList">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="header text-right col-md-auto" scope="col" (click)="sort('idDemand')" >ID</th>
        <th class="header text-right col-md-auto" scope="col" (click)="sort('productType')" >Typ produktu</th>
        <th class="header text-right col-md-auto" scope="col" (click)="sort('model')" >Model</th>
        <th class="header text-right col-md-auto" scope="col" (click)="sort('issueDate')" >Data wydania</th>
        <th class="header text-right col-md-auto" scope="col" (click)="sort('budget')" >Budżet</th>
        <th class="header text-right col-md-auto" scope="col" (click)="sort('quantity')" >Ilość</th>
        <th class="header text-right col-md-auto" scope="col" (click)="sort('company.name')" >Firma</th>
        <th class="text-right col-md-auto" scope="col"><input placeholder="Szukaj..." type="text" #textInput (input)="search(textInput.value)"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let demandFromList of demandsToShow.reverse() | slice: (page-1) * pageSize : page * pageSize">
        <th class="text-right col-md-auto">{{demandFromList.idDemand}}</th>
        <td class="text-right col-md-auto">{{demandFromList.productType}}</td>
        <td class="text-right col-md-auto">{{demandFromList.model}}</td>
        <td class="text-right col-md-auto">{{demandFromList.issueDate | date: 'dd.MM.yyy'}}</td>
        <td class="text-right col-md-auto">{{demandFromList.budget}}</td>
        <td class="text-right col-md-auto">{{demandFromList.quantity}}</td>
        <td class="text-right col-md-auto">{{demandFromList.company.name}}</td>
        <td class="text-right col-md-auto">
          <button class="btn mr-1 btn-outline-secondary btn-sm" (click)="openEditDemand(demandFromList)">Edytuj
          </button>
          <button class="btn btn-outline-secondary btn-sm" (click)="deleteDemandById(demandFromList.idDemand)">Usuń
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-sm">
          <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="demandsToShow.length"></ngb-pagination>
        </div>
        <div class="col-sm">
          <select class="form-control custom-select w-auto" [(ngModel)]="pageSize">

            <option *ngFor="let pageSizeFromList of pageSizeList">
              {{pageSizeFromList}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-container [ngSwitch]="showDemandsList">
  <button class="float-right btn btn-outline-secondary" *ngSwitchCase="false" (click)="getAllDemands()">Pokaż zapotrzebowania
  </button>
  <button class="float-right btn btn-outline-secondary" *ngSwitchCase="true" (click)="clearAllDemands()">Ukryj
    zapotrzebowania
  </button>
  <button class="float-right mr-1 btn btn-outline-secondary" (click)="openAddDemand()">Dodaj zapotrzebowanie</button>
</ng-container>
