<app-navbar></app-navbar>

<ng-template [ngIf]="showHandoverList">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th class="text-right col-md-auto" scope="col">ID</th>
        <th class="text-right col-md-auto" scope="col">Typ produktu</th>
        <th class="text-right col-md-auto" scope="col">Model</th>
        <th class="text-right col-md-auto" scope="col">Numer inwentarzowy</th>
        <th class="text-right col-md-auto" scope="col">Data przekazania</th>
        <th class="text-right col-md-auto" scope="col">Pracownik</th>
        <th class="text-right col-md-auto" scope="col">Firma</th>
        <th class="text-right col-md-auto" scope="col"><input placeholder="Szukaj..." type="text" #textInput (input)="search(textInput.value)"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let handoverFromList of handoversToShow | slice: (page-1) * pageSize : page * pageSize">
        <th class="text-right col-md-auto">{{handoverFromList.idHandover}}</th>
        <td class="text-right col-md-auto">{{handoverFromList.product.productType}}</td>
        <td class="text-right col-md-auto">{{handoverFromList.product.model}}</td>
        <td class="text-right col-md-auto">{{handoverFromList.product.inventoryNumber}}</td>
        <td class="text-right col-md-auto">{{handoverFromList.handoverDate | date: 'dd.MM.yyy'}}</td>
        <td class="text-right col-md-auto">{{handoverFromList.employee.name}} {{handoverFromList.employee.lastName}}</td>
        <td class="text-right col-md-auto">{{handoverFromList.employee.company.name}}</td>
        <td class="text-right col-md-auto">
          <button class="btn mr-1 btn-outline-secondary btn-sm" (click)="openEditHandover(handoverFromList)">Edytuj
          </button>
          <button class="btn btn-outline-secondary btn-sm" (click)="deleteHandoverById(handoverFromList.idHandover)">Usuń
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-sm">
          <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="handoversToShow.length"></ngb-pagination>
        </div>
        <div class="col-sm">
          <select class="form-control custom-select w-auto" [(ngModel)]="pageSize">
            <option *ngFor="let pageSizeFromList of pageSizeList">
              {{pageSizeFromList}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-container [ngSwitch]="showHandoverList">
  <button class="float-right btn btn-outline-secondary" *ngSwitchCase="false" (click)="getAllHandovers()">Pokaż wydania
  </button>
  <button class="float-right btn btn-outline-secondary" *ngSwitchCase="true" (click)="clearAllHandovers()">Ukryj
    wydania
  </button>
  <button class="float-right mr-1 btn btn-outline-secondary" (click)="openAddHandover()">Dodaj wydanie</button>
</ng-container>


