<div>
  <button [routerLink]="['/home']"><-- Back To Home</button>
</div>
<ng-container [ngSwitch]="showDistributorList">
  <button *ngSwitchCase="false" (click)="getAllDistributors()">Pobierz wszystkich dostawców</button>
  <button *ngSwitchCase="true" (click)="clearAllDistributors()">Ukryj dostawców</button>
</ng-container>
<ng-template [ngIf]="showDistributorList">
  <ul>
    <li *ngFor="let distributorFromList of allDistributors">
      {{distributorFromList.idDistributor}}
      {{distributorFromList.company.name}}
      {{distributorFromList.phoneNumber}}
      {{distributorFromList.email}}
      <button (click)="deleteDistributorById(distributorFromList.idDistributor)">Usuń</button>
      <button (click)="openEditDistributor(distributorFromList)">Edytuj</button>
    </li>
  </ul>
</ng-template>
<br>
<button (click)="openAddDistributor()">Dodaj dostawcę</button>
