<ng-template [ngIf]="showCompanyUpdate">
  <div class="modal-header">
    <h4 *ngIf="!companyToEdit" class="modal-title">Dodaj nową firmę</h4>
    <h4 *ngIf="companyToEdit&&!showCompanyDetails" class="modal-title">Edytuj firmę</h4>
    <h4 *ngIf="companyToEdit&&showCompanyDetails" class="modal-title">Szczegóły firmy</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="modal-body">
    <dl class="text-center">
      <dt><span>Nazwa firmy</span></dt>
      <dd>
        <span><input class="form-control" type="text" name="name" formControlName="name"></span>
      </dd>
      <dt><span>Adres</span></dt>
      <dd>
        <span>
          <select class="form-control custom-select w-75" name="address" formControlName="address">
            <option [ngValue]="addressFromList.idAddress === editForm.get('address')!.value?.idAddress ? editForm.get('address')!.value : addressFromList"
                    *ngFor="let addressFromList of allAddresses">
                      {{addressFromList.country}}
                      {{addressFromList.region}}
                      {{addressFromList.city}}
                      {{addressFromList.street}}
                      {{addressFromList.localNumber}}
                      {{addressFromList.zipCode}}
            </option>
          </select>
          <button type="button" class="btn btn-secondary w-25" (click)="openAddAddress()">Dodaj adres</button>
        </span>
      </dd>
      <dt><span>NIP</span></dt>
      <dd>
        <span><input class="form-control" type="text" name="nip" formControlName="nip" maxlength="10" minlength="10"></span>
      </dd>
    </dl>
  </div>
  <div class="modal-footer">
    <button *ngIf="!showCompanyDetails" type="submit" class="btn btn-outline-dark">Zapisz</button>
  </div>
  </form>
</ng-template>
