<ng-template [ngIf]="showTransactionUpdate">
  <div class="modal-header">
    <h4 *ngIf="!transactionToEdit" class="modal-title">Dodaj nową transakcje</h4>
    <h4 *ngIf="transactionToEdit&&!showTransactionDetails" class="modal-title">Edytuj transakcje</h4>
    <h4 *ngIf="transactionToEdit&&showTransactionDetails" class="modal-title">Szczegóły transakcji</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="modal-body">
      <dl class="text-center">
        <dt><span>Opis</span></dt>
        <dd>
          <span><input class="form-control" type="text" name="description" formControlName="description"></span>
        </dd>
        <dt><span>Cena</span></dt>
        <dd>
          <span><input class="form-control" type="text" name="price" formControlName="price"></span>
        </dd>
        <dt><span>Data transakcji</span></dt>
        <dd>
          <span><input class="form-control" type="date" name="transactionDate" formControlName="transactionDate"></span>
        </dd>
        <dt><span>Zapotrzebowanie</span></dt>
        <dd>
        <span>
          <select class="form-control custom-select w-50" name="demand" formControlName="demand">
            <option
              [ngValue]="demandFromList.idDemand === editForm.get('demand')!.value?.idDemand ? editForm.get('demand')!.value : demandFromList"
              *ngFor="let demandFromList of allDemands">
              {{demandFromList.idDemand}}
              {{demandFromList.productType}}
              {{demandFromList.model}}
              {{demandFromList.company.name}}
            </option>
          </select>
          <button type="button" class="btn btn-secondary w-50" (click)="openAddDemand()">Dodaj zapotrzebowanie</button>
        </span>
        </dd>
        <dt><span>Dostawca</span></dt>
        <dd>
        <span>
          <select class="form-control custom-select w-50" name="distributor" formControlName="distributor">
            <option
              [ngValue]="distributorFromList.idDistributor === editForm.get('distributor')!.value?.idDistributor ? editForm.get('distributor')!.value : distributorFromList"
              *ngFor="let distributorFromList of allDistributors">
                      {{distributorFromList.company.name}}:
              {{distributorFromList.company.nip}}
            </option>
          </select>
          <button type="button" class="btn btn-secondary w-50" (click)="openAddDistributor()">Dodaj dostawcę</button>
        </span>
        </dd>
        <dt><span>Załącznik</span></dt>
        <dd>
          <span>
            <input *ngIf="!showTransactionDetails" id="file" type="file" data-cy="attachment"
                   (change)="handleUpload($event)"/>
            <input
              type="hidden"
              class="form-control"
              name="attachment"
              id="field_attachment"
              data-cy="attachment"
              formControlName="attachment"
            />
          <input
            type="hidden"
            class="form-control"
            name="attachmentContentType"
            id="field_attachmentContentType"
            formControlName="attachmentContentType"
          />
          </span>
          <div *ngIf="transactionToEdit && transactionToEdit.attachmentContentType">
            <span class="header mr-2"
                  (click)="downloadFile(transactionToEdit.idTransaction, transactionToEdit.attachmentContentType.substring(16))">
              {{transactionToEdit.attachmentContentType.substring(16)}}
            </span>
            <button *ngIf="!showTransactionDetails" (click)="deleteAttachment()">Usuń załącznik</button>
          </div>
        </dd>
      </dl>
    </div>
    <div class="modal-footer">
      <button *ngIf="!showTransactionDetails" type="submit" class="btn btn-outline-dark">Zapisz</button>
    </div>
  </form>
</ng-template>
