<ng-template [ngIf]="showDemandUpdate">
  <div class="modal-header">
    <h4 *ngIf="!demandToEdit" class="modal-title">Dodaj nowe zapotrzebowanie</h4>
    <h4 *ngIf="demandToEdit&&!showDemandDetails" class="modal-title">Edytuj zapotrzebowanie</h4>
    <h4 *ngIf="demandToEdit&&showDemandDetails" class="modal-title">Szczegóły zapotrzebowania</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="modal-body">
      <dl class="text-center">
        <dt><span>Typ produktu</span></dt>
        <dd>
          <span><input class="form-control" type="text" name="productType" formControlName="productType"></span>
        </dd>
        <dt><span>Model</span></dt>
        <dd>
          <span><input class="form-control" type="text" name="model" formControlName="model"></span>
        </dd>
        <dt><span>Data wydania</span></dt>
        <dd>
          <span><input class="form-control" type="date" name="issueDate" formControlName="issueDate"></span>
        </dd>
        <dt><span>Budżet</span></dt>
        <dd>
          <span><input class="form-control" type="text" name="budget" formControlName="budget"></span>
        </dd>
        <dt><span>Ilość</span></dt>
        <dd>
          <span><input class="form-control" type="number" name="quantity" formControlName="quantity"></span>
        </dd>
        <dt><span>Firma</span></dt>
        <dd>
        <span>
          <select class="form-control custom-select w-75" name="company" formControlName="company">
            <option
              [ngValue]="companyFromList.idCompany === editForm.get('company')!.value?.idCompany ? editForm.get('company')!.value : companyFromList"
              *ngFor="let companyFromList of allCompanies">
                      {{companyFromList.name}}:
                      {{companyFromList.nip}}
            </option>
          </select>
          <button type="button" class="btn btn-secondary w-25" (click)="openAddCompany()">Dodaj firmę</button>
        </span>
        </dd>
        <dt><span>Zakończono</span></dt>
        <dd>
          <span><input class="form-control" type="checkbox" name="done" formControlName="done"></span>
        </dd>
      </dl>
    </div>
    <div class="modal-footer">
      <button *ngIf="!showDemandDetails" type="submit" class="btn btn-outline-dark">Zapisz</button>
    </div>
  </form>
</ng-template>
