<ng-template [ngIf]="showAddressDelete">
  <div class="modal-header">
    <h4>Usuń adres o ID {{idToDelete}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <dl class="text-center">
      <dt><span>Czy na pewno chcesz usunąć ten adres?</span></dt>
    </dl>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="cancel()">Nie</button>
    <button type="button" class="btn btn-outline-dark" (click)="deleteAddressById()">Tak</button>
  </div>
</ng-template>
